Repository KirillDemyanenko/React_2023_Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier . --write, eslint . --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npx prettier . --write", "eslint . --fix"],
  "*.{css,html}": ["npx prettier . --write"]
}

fix: week-1 fixes
  .eslintignore
  package.json
  src/components/Search/Search.tsx
Due: npx prettier . --write, eslint . --fix

config: add react router
  package-lock.json
  package.json
Due: none

feat: add router
  src/main.tsx
Due: npx prettier . --write, eslint . --fix

feat: add error page
  src/pages/ErrorPage/error-page.module.css
  src/pages/ErrorPage/error-page.tsx
Due: npx prettier . --write, eslint . --fix

feat: add Pagination component
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/pagination.module.css
Due: npx prettier . --write, eslint . --fix

feat: use Pagination component
  src/App.tsx
  src/types.ts
Due: npx prettier . --write, eslint . --fix

refactor: PaginationProps type
  src/types.ts
Due: npx prettier . --write, eslint . --fix

style: fix stats font
  src/components/Item/item.style.css
Due: npx prettier . --write

feat: implement part of pagination
  src/App.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/pagination.module.css
  src/types.ts
Due: npx prettier . --write, eslint . --fix

feat: add env
  .env
Due: none

feat: title of page in env
  index.html
Due: npx prettier . --write

refactor: pagination and app
  src/App.tsx
  src/components/Pagination/Pagination.tsx
Due: npx prettier . --write, eslint . --fix

refactor: pagination
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/pagination.module.css
Due: npx prettier . --write, eslint . --fix

refactor: pagination
  src/App.css
  src/App.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/pagination.module.css
  src/index.css
Due: npx prettier . --write, eslint . --fix

fix: select value in pagination component
  src/components/Pagination/Pagination.tsx
Due: npx prettier . --write, eslint . --fix

style: item hover effect
  src/assets/card-hover.webp
  src/components/Item/item.style.css
Due: npx prettier . --write

fix: infinite requests
  src/components/Item/Item.tsx
Due: npx prettier . --write, eslint . --fix

fix: current page view
  src/components/Pagination/Pagination.tsx
Due: npx prettier . --write, eslint . --fix

refactor: getData
  src/App.tsx
Due: npx prettier . --write, eslint . --fix

feat: add details component
  src/Layouts/Layout.tsx
  src/components/Details/Details.tsx
  src/components/Details/details.module.css
Due: npx prettier . --write, eslint . --fix

refactor: query params changing
  src/components/Item/Item.tsx
  src/components/Search/Search.tsx
  src/main.tsx
Due: npx prettier . --write, eslint . --fix

style: details style fixes
  src/components/Details/details.module.css
Due: npx prettier . --write

fix: svg image
  src/assets/no-image.svg
Due: none

feat: add scroll top
  src/components/Details/Details.tsx
Due: npx prettier . --write, eslint . --fix

feat: implement loader
  src/components/Details/Details.tsx
  src/main.tsx
Due: npx prettier . --write, eslint . --fix

style: style fixes
  src/Layouts/layout.module.css
  src/components/Pagination/pagination.module.css
  src/components/Search/search.style.css
  src/index.css
Due: npx prettier . --write

refactor: wrap app in div
  src/Layouts/Layout.tsx
Due: npx prettier . --write, eslint . --fix

feat: created context to store value entered the Search component
  src/App.tsx
  src/components/Search/Search.tsx
  src/main.tsx
Due: npx prettier . --write, eslint . --fix

feat: created context to store the list of items received from the API
  src/App.tsx
  src/main.tsx
  src/types.ts
Due: npx prettier . --write, eslint . --fix

feat: add debounce
  src/components/Search/Search.tsx
Due: npx prettier . --write, eslint . --fix

feat: add jest
  .eslintignore
  .gitignore
  .lintstagedrc.json
  jest.config.ts
  package-lock.json
  package.json
  src/__tests__/App.test.tsx
  src/test/__mocks__/fileMock.ts
Due: npx prettier . --write, eslint . --fix

refactor: convert styles to module ErrorBoundary
  src/App.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/error.module.css
Due: npx prettier . --write, eslint . --fix

refactor: convert styles to module Item
  src/App.tsx
  src/components/Item/Item.tsx
  src/components/Item/item.module.css
Due: npx prettier . --write, eslint . --fix

refactor: convert styles to module Loader
  src/App.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/loader.module.css
  src/components/Search/Search.tsx
Due: npx prettier . --write, eslint . --fix

refactor: convert styles to module Search
  src/App.tsx
  src/components/Search/Search.tsx
  src/components/Search/search.module.css
Due: npx prettier . --write, eslint . --fix

feat: add function for read/save to localStorage
  .env
  src/App.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/Search/Search.tsx
  src/helpers/workWithStorage.ts
  src/main.tsx
Due: npx prettier . --write, eslint . --fix

feat: add function for get data from API
  .env
  .eslintrc
  .lintstagedrc.json
  src/App.tsx
  src/api/getDataFRomAPI.ts
  src/components/Details/Details.tsx
  src/components/Item/Item.tsx
  src/main.tsx
  src/types.ts
Due: npx prettier . --write, eslint . --fix

config: lint
  .eslintrc
Due: none

feat: create search context
  src/Layouts/Layout.tsx
  src/components/Search/Search.tsx
  src/main.tsx
  src/types.ts
Due: npx prettier . --write, eslint . --fix

feat: create app context
  src/App.tsx
  src/components/Pagination/Pagination.tsx
Due: npx prettier . --write, eslint . --fix
